{% extends "main/base.html" %}
{% load static %}
{% block style %}
        <style>
            body {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                background-image: url('{% static "image/11.png" %}'); /* Обратите внимание на кавычки внутри static */
                background-color: #121212;
                background-size: cover;
                background-attachment: fixed;
                color: #fff;
                margin: 0;
                padding: 0;
                line-height: 1.6;
            }
            .content-container {
                width: fit-content;
                height: fit-content;
           }
            .container {
            padding: 0 15px;
            max-width: 960px;
            margin: auto;
            overflow: auto;
        }

         h2 {
            color: #444;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        ul li {
            padding-bottom: 10px;
        }
        a {
            color: #0087cc;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        </style>
    {% endblock style %}
{% block content %}
<section >
    <div class="content-container">
        <h2>О нас</h2>
        <p>Здравствуйте! Меня зовут Арег, и я студент второго курса Северо-Кавказского Федерального Университета. Идея создания интеллектуального помощника для образовательных учреждений витала в воздухе длительное время. Она родилась из моего собственного опыта и тех сложностей, с которыми я и мои однокурсники сталкивались в процессе обучения.</p>
        <p>Лишь недавно я нашел возможность воплотить задуманное в жизнь. Проект, над которым я работаю, предназначен для облегчения процесса обучения, контроля знаний и упрощения работы учителей. Мы предлагаем систему, способную автоматизировать проверку тестов и выставление оценок, что современному образованию необходимо более чем когда-либо.</p>
        <p>Научный прогресс не стоит на месте, и в свете стремительно развивающихся технологий, актуальность интеллектуальных систем в образовании возрастает с каждым днем. Моя система призвана не только сэкономить время учителей, но и предоставить ученикам мгновенную обратную связь по их работам, что является критически важным для эффективного обучения.</p>
        <p>Проект разрабатывается с мыслью о потребностях современного педагогического сообщества и направлен на содействие их профессиональной деятельности, а также на поддержку учащихся в достижении их академических целей. Именно желание помочь окружающим стало основной движущей силой на пути к созданию этого проекта.</p>
    </div>


    <!-- Контакты для сотрудничества -->

        <div class="content-container">
        <h2>Для сотрудничества</h2>
        <p>Если вы представляете образовательное учреждение или заинтересованы в интеграции нашей системы, мы открыты для предложений и готовы обсудить условия партнерства. Свяжитесь с нами:</p>
        <ul>
            <li>Телефон: <a href="tel:+89288295981">89288295981</a></li>
            <li>Email: <a href="mailto:areg.dzhatayan@bk.ru">areg.dzhatayan@bk.ru</a></li>
            <li>Telegram: <a href="tg://resolve?domain=yourusername">Написать в Telegram</a></li>
            <li>ВКонтакте: <a href="https://vk.com/yourusername">Профиль ВКонтакте</a></li>
        </ul>
        </div>


    <!-- Контакты для помощи -->

        <div class="content-container">
        <h2>Для получения помощи</h2>
        <p>Если у вас возникли технические вопросы или нужна помощь в использовании системы, наша служба поддержки всегда готова прийти к вам на помощь. Для быстрой и квалифицированной технической поддержки:</p>
        <ul>
            <li>Телефон: <a href="tel:+89288295981">89288295981</a></li>
            <li>Email: <a href="mailto:support@intellectassistant.example">support@intellectassistant.example</a></li>
        </ul>
        </div>
    </section>

{% endblock content %}