{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EvalAI</title>
    {% block style %}

    {% endblock style %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>

<header>
    <h1>EvalAI</h1>
</header>

<nav>
    <a href="{% url 'main' %}" class="btn-home">Главная</a>
    <a href="{% url 'about' %}" class="btn-about">О Нас</a>
    <a href="{% url 'kak' %}" class="btn-services">Как работать</a>
    <a href="{% url 'contacts' %}" class="btn-contact">Контакты</a>
</nav>
     {% block content %}

    {% endblock content %}
<footer>
    <p>&copy; 2024 EvalAI. Все права защищены.</p>
</footer>

</body>
</html>